# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/
env/
.env

# Project specific
downloads/
*.mp3
*.mp4
*.m4a
*.webm

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# PyInstaller & Binaries
build/
dist/
*.spec
bin/
